/* screen - bio */

.bio {
  align-items: flex-start;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  height: 2702px;
  overflow: hidden;
  width: 375px;
}

.bio .component-6 {
  align-items: flex-start;
  background-color: var(--black);
  display: flex;
  gap: 8px;
  height: 306px;
  min-width: 375px;
  padding: 4px 7px;
}

.bio .palais-des-plans-lettre-p-1 {
  cursor: pointer;
  height: 72px;
  left: 0;
  top: 0;
  width: 72px;
}

.bio .line-1 {
  margin-top: -5px;
}

.bio .line-2 {
  margin-top: 5px;
}

.bio .line-3 {
  margin-top: 4px;
}

.bio .overlap-group2 {
  height: 498px;
  position: relative;
  width: 376px;
}

.bio .x4985729885_dc50128d17_o-3 {
  height: 419px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 376px;
}

.bio .rectangle {
  background: linear-gradient(180deg, rgb(0, 0, 0) 0%, rgba(90.51, 90.51, 90.51, 0) 99.98%, rgba(137.26, 137.26, 137.26, 0) 99.99%, rgba(137.26, 137.26, 137.26, 0) 100%);
  height: 49px;
  left: 0;
  top: 0;
}

.bio .name {
  height: 80px;
  left: 7px;
  letter-spacing: 0;
  line-height: 24px;
  position: absolute;
  text-align: center;
  top: 418px;
  width: 360px;
}

.bio .span1 {
  line-height: 21.3px;
}

.bio .overlap-group1 {
  height: 1880px;
  margin-left: -121px;
  margin-top: 18px;
  position: relative;
  width: 521px;
}

.bio .ellipse-9 {
  background-color: var(--ciel-bofill);
  border-radius: 145.5px/140.5px;
  filter: blur(50px);;
  height: 281px;
  left: 0;
  position: absolute;
  top: 789px;
  width: 291px;
}

.bio .ellipse-9-1 {
  background-color: var(--rose-bofill);
  border-radius: 96px/93.5px;
  filter: blur(50px);;
  height: 187px;
  left: 329px;
  position: absolute;
  top: 231px;
  width: 192px;
}

.bio .flex-container-201385 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 13px;
  height: 1383px;
  left: 145px;
  position: absolute;
  top: 0;
  width: 320px;
}

.bio .text {
  align-self: stretch;
  letter-spacing: 0;
  line-height: 21.3px;
  position: relative;
}

.bio .image-2 {
  height: 197px;
  left: 149px;
  top: 163px;
  width: 312px;
}

.bio .image-3 {
  height: 191px;
  left: 177px;
  top: 892px;
  width: 256px;
}

.bio .walden-7 {
  left: 154px;
  letter-spacing: 0;
  line-height: 21.3px;
  position: absolute;
  top: 1082px;
  white-space: nowrap;
  width: 184px;
}

.bio .taller-de-arquitectura {
  left: 145px;
  letter-spacing: 0;
  line-height: 21.3px;
  position: absolute;
  top: 359px;
  white-space: nowrap;
  width: 184px;
}

.bio .rectangle-6 {
  background-color: var(--black);
  height: 527px;
  left: 121px;
  top: 1353px;
}

.bio .palais-des-plans-lettre-p-2 {
  height: 77px;
  left: 204px;
  top: 1374px;
  width: 77px;
}

.bio .palais-des-plans-fond-noir-2 {
  background-image: url(../img/palais-des-plans-fond-noir-1-1@2x.png);
  background-size: 100% 100%;
  height: 130px;
  left: 278px;
  position: absolute;
  top: 1383px;
  width: 130px;
}

.bio .logo-insta {
  background-image: url(../img/logo-insta-5.svg);
  background-size: 100% 100%;
  height: 43px;
  left: 235px;
  position: absolute;
  top: 1782px;
  width: 43px;
}

.bio .linkedin {
  background-image: url(../img/linkedin-5.svg);
  background-size: 100% 100%;
  height: 43px;
  left: 285px;
  position: absolute;
  top: 1782px;
  width: 43px;
}

.bio .twitter-new-logo-8-a {
  background-image: url(../img/twitter-new-logo-8a0c4e0c58-seeklogo-1@2x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 43px;
  left: 335px;
  position: absolute;
  top: 1782px;
  width: 43px;
}

.bio .palais-des-plans-par-matys-ouvrard {
  left: 135px;
  letter-spacing: 0;
  line-height: 21.3px;
  position: absolute;
  top: 1840px;
  width: 244px;
}

.bio .place {
  cursor: pointer;
  left: 138px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 1568px;
  width: 281px;
}

.bio .autres-oeuvres {
  cursor: pointer;
  left: 138px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 1613px;
  width: 240px;
}

.bio .image {
  object-fit: cover;
  position: absolute;
}

.bio .line {
  height: 5px;
  width: 46px;
}

.bio .palais-des-plans-lettre-p {
  background-image: url(../img/palais-des-plans-lettre-p-1.png);
  background-position: 50% 50%;
  background-size: cover;
  position: absolute;
}

.bio .rectangle-1 {
  position: absolute;
  width: 375px;
}
