/* screen - oeuvre-3 */

.oeuvre-3 {
  align-items: center;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  height: 2527px;
  width: 375px;
}

.oeuvre-3 .component-6 {
  gap: 8px;
  height: 306px;
  min-width: 375px;
  padding: 4px 7px;
}

.oeuvre-3 .palais-des-plans-lettre-p-1 {
  cursor: pointer;
  height: 72px;
  width: 72px;
}

.oeuvre-3 .line-1 {
  margin-top: -5px;
}

.oeuvre-3 .line-2 {
  margin-top: 5px;
}

.oeuvre-3 .line-3 {
  margin-top: 4px;
}

.oeuvre-3 .overlap-group2 {
  align-items: flex-start;
  background: linear-gradient(180deg, rgb(0, 0, 0) 0%, rgba(90.51, 90.51, 90.51, 0) 99.98%, rgba(137.26, 137.26, 137.26, 0) 99.99%, rgba(137.26, 137.26, 137.26, 0) 100%);
  display: flex;
  min-width: 375px;
}

.oeuvre-3 .campo-de-las-naciones-2008 {
  height: 39px;
  letter-spacing: 0;
  line-height: normal;
  margin-left: 1.0px;
  margin-top: 27px;
  text-align: center;
  width: 280px;
}

.oeuvre-3 .image-3 {
  height: 248px;
  margin-left: 1.0px;
  margin-top: 19px;
  object-fit: cover;
  width: 314px;
}

.oeuvre-3 .surname {
  height: 609px;
  letter-spacing: 0;
  line-height: normal;
  margin-right: 4.0px;
  margin-top: 321px;
  width: 309px;
}

.oeuvre-3 .component-9 {
  flex-direction: column;
  margin-top: 382px;
  min-height: 527px;
  padding: 11px 14px;
  width: 375px;
}

.oeuvre-3 .place {
  cursor: pointer;
  letter-spacing: 0;
  line-height: normal;
  margin-left: 3px;
  margin-top: 55px;
  min-height: 45px;
  width: 281px;
}

.oeuvre-3 .autres-oeuvres {
  cursor: pointer;
  letter-spacing: 0;
  line-height: normal;
  margin-left: 3px;
  min-height: 50px;
  width: 240px;
}

.oeuvre-3 .flex-row {
  align-items: flex-start;
  align-self: center;
  display: flex;
  gap: 7px;
  margin-right: 4.0px;
  margin-top: 119px;
  min-width: 143px;
}

.oeuvre-3 .logo-insta {
  background-image: url(../img/logo-insta-11.svg);
  background-size: 100% 100%;
  height: 43px;
  width: 43px;
}

.oeuvre-3 .linkedin {
  background-image: url(../img/linkedin-11.svg);
  background-size: 100% 100%;
  height: 43px;
  width: 43px;
}

.oeuvre-3 .twitter-new-logo-8-a {
  background-image: url(../img/twitter-new-logo-8a0c4e0c58-seeklogo-1@2x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 43px;
  width: 43px;
}

.oeuvre-3 .palais-des-plans-par-matys-ouvrard {
  letter-spacing: 0;
  line-height: 21.3px;
  margin-top: 15px;
  min-height: 29px;
  width: 244px;
}

.oeuvre-3 .component {
  align-items: flex-start;
  background-color: var(--black);
  display: flex;
}

.oeuvre-3 .line {
  height: 5px;
  width: 46px;
}

.oeuvre-3 .palais-des-plans-lettre-p {
  background-image: url(../img/palais-des-plans-lettre-p-1.png);
  background-position: 50% 50%;
  background-size: cover;
  left: 0;
  position: absolute;
  top: 0;
}
