/* screen - ses-oeuvres */

.ses-oeuvres {
    align-items: flex-start;
    background-color: var(--white);
    display: flex;
    flex-direction: column;
    height: 1898px;
    overflow: hidden;
    width: 375px;
  }
  
  .ses-oeuvres .component-6 {
    align-items: flex-start;
    background-color: var(--black);
    display: flex;
    gap: 8px;
    height: 306px;
    min-width: 375px;
    padding: 4px 7px;
  }
  
  .ses-oeuvres .palais-des-plans-lettre-p-1 {
    cursor: pointer;
    height: 72px;
    width: 72px;
  }
  
  .ses-oeuvres .line-1 {
    margin-top: -5px;
  }
  
  .ses-oeuvres .line-2 {
    margin-top: 5px;
  }
  
  .ses-oeuvres .line-3 {
    margin-top: 4px;
  }
  
  .ses-oeuvres .overlap-group3 {
    height: 893px;
    margin-left: -2px;
    position: relative;
    width: 463px;
  }
  
  .ses-oeuvres .ellipse-9 {
    background-color: var(--mur-bofill);
    border-radius: 145.5px/141px;
    filter: blur(50px);;
    height: 282px;
    left: 172px;
    position: absolute;
    top: 287px;
    width: 291px;
  }
  
  .ses-oeuvres .bofill-2-1 {
    height: 331px;
    left: 0;
    object-fit: cover;
    position: absolute;
    top: 0;
    width: 378px;
  }
  
  .ses-oeuvres .rectangle {
    background: linear-gradient(180deg, rgb(0, 0, 0) 0%, rgba(90.51, 90.51, 90.51, 0) 99.98%, rgba(137.26, 137.26, 137.26, 0) 99.99%, rgba(137.26, 137.26, 137.26, 0) 100%);
    height: 49px;
    left: 2px;
    position: absolute;
    top: 0;
    width: 375px;
  }
  
  .ses-oeuvres .frame-1::-webkit-scrollbar {
    display: none;
    width: 0;
  }
  
  .ses-oeuvres .frame-1 {
    align-items: flex-end;
    display: flex;
    flex-direction: column;
    height: 400px;
    left: 7px;
    overflow: hidden;
    overflow-y: scroll;
    padding: 0 25px;
    position: absolute;
    top: 493px;
    width: 365px;
  }
  
  .ses-oeuvres .overlap-group1 {
    height: 286px;
    margin-top: 31px;
    position: relative;
    width: 314px;
  }
  
  .ses-oeuvres .image-1-1 {
    height: 248px;
    left: 0;
    object-fit: cover;
    position: absolute;
    top: 0;
    width: 314px;
  }
  
  .ses-oeuvres .walden-7-1970 {
    height: 39px;
    left: 17px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 247px;
    width: 280px;
  }
  
  .ses-oeuvres .image {
    height: 248px;
    margin-top: 38px;
    object-fit: cover;
    width: 314px;
  }
  
  .ses-oeuvres .frame-1-item {
    align-self: center;
    height: 39px;
    letter-spacing: 0;
    line-height: normal;
    margin-left: 1.0px;
    margin-top: 5px;
    text-align: center;
    width: 280px;
  }
  
  .ses-oeuvres .campo-de-las-naciones-2008 {
    align-self: center;
    height: 39px;
    letter-spacing: 0;
    line-height: normal;
    margin-left: 1.0px;
    margin-top: 9px;
    text-align: center;
    width: 280px;
  }
  
  .ses-oeuvres .image-1 {
    margin-top: 69px;
  }
  
  .ses-oeuvres .les-quatre-barres-de {
    align-self: center;
    height: 39px;
    letter-spacing: 0;
    line-height: normal;
    margin-left: 1.0px;
    margin-top: 31px;
    text-align: center;
    width: 280px;
  }
  
  .ses-oeuvres .image-2 {
    margin-top: 61px;
  }
  
  .ses-oeuvres .surname {
    align-self: center;
    height: 39px;
    letter-spacing: 0;
    line-height: normal;
    margin-left: 1.0px;
    margin-top: 39px;
    text-align: center;
    width: 280px;
  }
  
  .ses-oeuvres .image-7 {
    margin-top: 52px;
  }
  
  .ses-oeuvres .hotel-vela-2008 {
    align-self: center;
    height: 39px;
    letter-spacing: 0;
    line-height: normal;
    margin-left: 1.0px;
    margin-top: 3px;
    text-align: center;
    width: 280px;
  }
  
  .ses-oeuvres .twin-center-1999 {
    align-self: center;
    height: 39px;
    letter-spacing: 0;
    line-height: normal;
    margin-left: 1.0px;
    margin-top: 11px;
    text-align: center;
    width: 280px;
  }
  
  .ses-oeuvres .title {
    height: 80px;
    left: 2px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 427px;
    width: 360px;
  }
  
  .ses-oeuvres .overlap-group2 {
    align-items: flex-start;
    background-color: var(--black);
    display: flex;
    flex-direction: column;
    margin-top: 172px;
    min-height: 527px;
    padding: 11px 14px;
    width: 375px;
  }
  
  .ses-oeuvres .palais-des-plans-lettre-p-3 {
    height: 77px;
    width: 77px;
  }
  
  .ses-oeuvres .palais-des-plans-fond-noir-3 {
    background-image: url(../img/palais-des-plans-fond-noir-1-1@2x.png);
    background-size: 100% 100%;
    height: 130px;
    left: 74px;
    position: absolute;
    top: 9px;
    width: 130px;
  }
  
  .ses-oeuvres .place {
    cursor: pointer;
    letter-spacing: 0;
    line-height: normal;
    margin-left: 3px;
    margin-top: 55px;
    min-height: 45px;
    width: 281px;
  }
  
  .ses-oeuvres .autres-oeuvres {
    letter-spacing: 0;
    line-height: normal;
    margin-left: 3px;
    min-height: 50px;
    width: 240px;
  }
  
  .ses-oeuvres .flex-row {
    align-items: flex-start;
    align-self: center;
    display: flex;
    gap: 7px;
    margin-right: 4.0px;
    margin-top: 119px;
    min-width: 143px;
  }
  
  .ses-oeuvres .logo-insta {
    background-image: url(../img/logo-insta-6.svg);
    background-size: 100% 100%;
    height: 43px;
    width: 43px;
  }
  
  .ses-oeuvres .linkedin {
    background-image: url(../img/linkedin-6.svg);
    background-size: 100% 100%;
    height: 43px;
    width: 43px;
  }
  
  .ses-oeuvres .twitter-new-logo-8-a {
    background-image: url(../img/twitter-new-logo-8a0c4e0c58-seeklogo-1@2x.png);
    background-position: 50% 50%;
    background-size: cover;
    height: 43px;
    width: 43px;
  }
  
  .ses-oeuvres .palais-des-plans-par-matys-ouvrard {
    letter-spacing: 0;
    line-height: 21.3px;
    margin-top: 15px;
    min-height: 29px;
    width: 244px;
  }
  
  .ses-oeuvres .image-3 {
    height: 248px;
    object-fit: cover;
    width: 314px;
  }
  
  .ses-oeuvres .line {
    height: 5px;
    width: 46px;
  }
  
  .ses-oeuvres .palais-des-plans-lettre-p {
    background-image: url(../img/palais-des-plans-lettre-p-1.png);
    background-position: 50% 50%;
    background-size: cover;
    left: 0;
    position: absolute;
    top: 0;
  }
  